body
{
  overflow-x: hidden;
}

.btn-custom
{
  background: #66BB6A;
  color: white;
}

/*sidebar*/
.mini-submenu{
  display:none;  
  background-color: rgba(0, 0, 0, 0);  
  border: 1px solid rgba(0, 0, 0, 0.9);
  border-radius: 4px;
  padding: 9px;  
  /*position: relative;*/
  width: 42px;
  margin-top: 70px;

}

.list-group{
  margin-top: 70px;
}

.mini-submenu:hover{
  cursor: pointer;
}

.mini-submenu .icon-bar {
  border-radius: 1px;
  display: block;
  height: 2px;
  width: 22px;
  margin-top: 3px;
}

.mini-submenu .icon-bar {
  background-color: #000;
}

#slide-submenu{
  background: rgba(0, 0, 0, 0.45);
  display: inline-block;
  padding: 0 8px;
  border-radius: 4px;
  cursor: pointer;
}


/* chart */

.file-upload-form
{
  position: relative;
  top: 80px;
}

.file-upload-form-header
{
  position: relative;
  left: 20px;
}

.wrapper {
  display: block;
  margin: 5em auto;
  border: 1px solid #555;
  width: 700px;
  height: 350px;
  position: relative;
  top: 40px;
}
/*p{text-align:center;}*/
.label {
  height: 1em;
  padding: .3em;
  background: rgba(255, 255, 255, .8);
  position: absolute;
  display: none;
  color:#333;
  
}

.name-btn{
  margin: -10px 0 0 25px;
}

.csv-btn{
  margin: -10px 0 0 0;
}

.table
{
  position: relative;
  top: 100px;
}

table, td, th {
    border: 1px solid #ddd;
    text-align: left;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 6px;
}

a, a:focus, a:active{
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}

#graph-visualization
{
    position: relative;
}
