{% extends 'visualization/templates/views/layout/master.html' %}

{% block content %}

    <div class="main-body">

        <div class="row">

            <div class="col-sm-12">

                <div class="left-col">

                    <h1 class="text-center">VIM</h1>
                    <p class="text-center">A Web Tool for Data Visualization and Knowledge Mining</p>
                    <br>
                    <h3 class="text-center">Upload CSV File</h3>

                    <form method="post" action="{% url 'visualizationUpload' %}" enctype="multipart/form-data">

                        {% csrf_token %}

                        <div class="form-group">

                            <input type="file" name="csv_file" class="file">

                            <div class="input-group col-sm-10 col-sm-offset-1">

                                <span class="input-group-addon"><i class="glyphicon glyphicon-file"></i></span>
                                <input type="text" class="form-control input-lg" disabled placeholder="Upload Image">
                                <span class="input-group-btn">
                                    <button type="button" class="browse btn btn-success input-lg"><i class="glyphicon glyphicon-search"></i> Browse</button>
                                </span>
                                <span class="input-group-btn">
                                    <button type="submit" style="margin-left: 10px;" class=" btn btn-success input-lg"><i class="glyphicon glyphicon-upload"></i> Upload</button>
                                </span>

                            </div>

                        </div>

                    </form>

                </div>

            </div>
            
        </div>

    </div>

    <hr>
    
    <div class="row">

        <div class="col-sm-4 col-md-3">

            <div class="mini-submenu">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </div>

            <div class="list-group"">

                <span href="#" class="list-group-item active" style="background-color: #66BB6A; border-color: #66BB6A;">
                    Features
                    <span class="pull-right" id="slide-submenu">
                        <i class="fa fa-times"></i>
                    </span>
                </span>

                {% for feature in features %}

                    <a href="#" class="list-group-item">

                        <div class="checkbox">
                            <label><input onclick="showGraph($(this));" name="feature" type="radio" value="{{ feature }}">{{ feature }}</label>
                        </div>
                        
                    </a>
                    
                {% endfor %}

            </div>

        </div>

        <div class="col-sm-8 col-md-8">

            <div id="graph-visualization"></div>

        </div>

    </div>

{% endblock %}

{% block js %}

    <script type="text/javascript">

        function showGraph(sys) 
        {
            var feature = sys.attr("value");
            var csrftoken = $("[name=csrfmiddlewaretoken]").val();

            function csrfSafeMethod(method) 
            {
                // these HTTP methods do not require CSRF protection
                return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
            }

            $.ajaxSetup({

                beforeSend: function(xhr, settings) 
                {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) 
                    {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }

                }

            });

            $.ajax({
                
                type: "GET",
                url: "{% url 'graphVisualization' %}",
                cache: false,
                data: {"feature": feature},
                success: function(result)
                {
                    // console.log(result);

                    var img = '<img src="'+result+'" class="img-responsive" />';
                    $('#graph-visualization').html(img);
                }

            });

        }

    </script>

{% endblock %}
